* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  :root {
    --azul: #33658aff;
    --celeste: #86bbd8ff;
    --carbon: #2f4858ff;
    --amarillo: #f6ae2dff;
    --naranja: #f26419ff;
  }
  
  body {
    border: black 2px solid;
  }
  @import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
  
  .wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
  }
  
  #container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }

  .titulo h1{
    color: white;
    font-family: oswald, sans-serif;
  }

  #container-general {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr, 3fr, 1fr;
  }
  
  #section-categorias {
    width: 15%;
    height: 100%;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    gap: 10px;
    background-color: var(--azul);
    border-radius: 10px;
    position: sticky;
    top: 10px;
    color: white;
  }


  #section-categorias h3 {
    margin: 10px;
    font: 20px oswald, sans-serif;
  }

  #section-categorias select {
    text-align: left;
    width: 100%;
    padding: 10px;
    overflow: auto;
    word-wrap: normal;
  }

  #section-productos {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1rem;
  }
  
  #section-productos .card-producto {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: var(--celeste);
    color: black;
    border-radius: 5px;
    justify-content: space-between;
  }
  
  #section-productos .card-producto .img-container {
    overflow: hidden;
    position: relative;
  }
  
  #section-productos .card-producto .img-container img {
    max-width: 90%;
    margin: 5%;
    border-radius: 5px;
  }
  
  .btn-agregar {
    font-size: 15px;
    font-family: oswald, sans-serif;
    width: 80%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    align-self: center;
    color: whitesmoke;
    background-color: var(--carbon);
    border-radius: 5px;
    }
  
  /* #section-productos .card-producto .info-producto {
    display: flex;
    flex-direction: column;
  } */

  #section-carrito {
    display: flex;
    width: 15%;
    height: 100%;
    top: 10px;
    margin: 10px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--azul);
    border-radius: 10px;
    position: sticky;
    font-family: oswald, sans-serif;
    color: white;
    min-height: min-content;
  }
  
  #section-carrito div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }
  
  #section-carrito .carrito-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
  }

  #section-carrito .carrito-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }

  #section-carrito .carrito-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }

  #section-carrito .card-producto {
    width: 100%;
    margin: 2px;
    text-align: center;
    background-color: var(--celeste);
    color: black;
    border-radius: 5px;
    margin: 5px;
  }

  #section-carrito .card-producto img {
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 5px;
  }

  #section-carrito h3 {
    margin: 10px;
    font: 20px oswald, sans-serif;
  }

  #section-carrito .info-producto h4 {
    margin: 5px;
    font: 15px oswald, sans-serif;
    font-weight: bold;
  }

  #section-carrito p {
    margin: 2px;
    font: 15px oswald, sans-serif;
    text-align: center;
  }

  #carrito-footer {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }

  #carrito-footer h3 {
    margin: 10px;
    font: 20px oswald, sans-serif;
    text-align: left;
  }